# <img src="https://github.com/JuliaLang/julia-logo-graphics/raw/master/images/julia-logo-color.png" height="100" />

# WELCOME TO JULIA PROGRAMMING

# Setting up google colab for using Julia

## Instructions
1. Work on a copy of this notebook: _File_ > _Save a copy in Drive_ (you will need a Google account). Alternatively, you can download the notebook using _File_ > _Download .ipynb_, then upload it to [Colab](https://colab.research.google.com/).
2. If you need a GPU: _Runtime_ > _Change runtime type_ > _Harware accelerator_ = _GPU_.
3. Execute the following cell (click on it and press Ctrl+Enter) to install Julia, IJulia and other packages (if needed, update `JULIA_VERSION` and the other parameters). This takes a couple of minutes.
4. Reload this page (press Ct⌘+R, or the F5 key) and continue to the next section.

_Notes_:
* If your Colab Runtime gets reset (e.g., due to inactivity), repeat steps 2, 3 and 4.
* After installation, if you want to change the Julia version or activate/deactivate the GPU, you will need to reset the Runtime: _Runtime_ > _Factory reset runtime_ and repeat steps 3 and 4.

Execute the following code block:

In [ ]:
#= 

%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.10.4" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia BenchmarkTools"
JULIA_PACKAGES_IF_GPU="CUDA" # or CuArrays for older Julia versions
JULIA_NUM_THREADS=2
#---------------------------------------------------#

if [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  nvidia-smi -L &> /dev/null && export GPU=1 || export GPU=0
  if [ $GPU -eq 1 ]; then
    JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

=#

Check the version of the Julia by running the cell block below:

In [ ]:
versioninfo()

# INTRODUCTION

## Syntax differences between julia and python
The following table outlines key syntax differences between Python and Julia. While both languages are high-level and dynamically typed, they exhibit distinct approaches to defining variables, functions, and data structures. Python employs indentation to define code blocks and uses the `def` keyword for function definitions, whereas Julia uses `function` and requires an `end` statement to close blocks. String interpolation, array definitions, and exception handling also differ, showcasing the unique features and style of each language. This comparison serves as a quick reference for those familiar with one language and looking to understand the syntax of the other.

| Feature                  | Python Syntax                          | Julia Syntax                             |
|--------------------------|----------------------------------------|------------------------------------------|
| Variable Declaration      | No explicit type declaration; dynamic typing | Optional type declaration; dynamic typing |
| Comments                 | `# This is a comment`                 | `# This is a comment`                   |
| Function Definition       | `def function_name(params):`          | `function function_name(params)`        |
| Return Statement         | `return value`                         | `return value` or simply `value`       |
| String Interpolation      | `f"{variable}"`                       | `"$(variable)"`                         |
| Lists/Arrays             | `my_list = [1, 2, 3]`                 | `my_array = [1, 2, 3]`                  |
| Multi-line String        | `"""This is a\nmulti-line string"""`  | `"""This is a\nmulti-line string"""`    |
| For Loop                 | `for i in range(n):`                  | `for i in 1:n`                          |
| If Statement             | `if condition:`                        | `if condition`                          |
| Dictionary               | `my_dict = {"key": "value"}`         | `my_dict = Dict("key" => "value")`     |
| Function Call            | `function_name(args)`                  | `function_name(args)`                   |
| Method Definition        | `def method_name(self, params):`     | `function method_name(params)`          |
| Importing Libraries      | `import module_name`                  | `using ModuleName`                      |
| Lambdas                  | `lambda x: x + 1`                     | `x -> x + 1`                            |
| Exception Handling       | `try:` <br> `except Exception:`       | `try` <br> `catch e`                   |
| Type Declaration         | No explicit type declaration           | `function func_name(arg::Int)`         |
| End of Block             | Indentation defines block              | `end` statement defines block            |

# BASICS

## HOW TO PRINT

In Julia we usually use `println()` to print

In [ ]:
println("hello julia")

## HOW TO ASSIGN VARIABLES

All we need is a variable name, value, and an equal's sign! Julia will figure out types for us.

In [ ]:
my_answer = 32
typeof(my_answer)

In [ ]:
sentance = "Julia"
typeof(sentance)

In [ ]:
my_pi = 3.14159
typeof(my_pi)

In [ ]:
Air_resistance = true
typeof(Air_resistance)

In [ ]:
gravity = false 
typeof(gravity)

After assigning a value to a variable, we can reassign a value of a different type to that variable without any issue.

In [ ]:
my_answer  = "Hello World"
typeof(my_answer)

## HOW TO COMMENT

For single line comment:

In [ ]:
# we can ues hash (#) for a single line comment. 
# The comment is used to make program more readable to you and other users and it is ignored by julia.

For Multi Line comment:

In [ ]:
#= 

For Multi Line comment use 
' #= =# ' and your comment will be placed between them.

=#

## SYNTAX FOR MATHEMATICS

In [ ]:
sum = 3 + 7

In [ ]:
difference = 10 - 3

In [ ]:
product = 20 * 5

In [ ]:
quotient = 10/2

In [ ]:
power = 10 ^ 2

In [ ]:
modulus = 101 % 2

| Symbol  | Description                     | Julia Representation           |
|---------|---------------------------------|--------------------------------|
| `+`     | Addition                        | `a + b`                        |
| `-`     | Subtraction                     | `a - b`                        |
| `*`     | Multiplication                  | `a * b`                        |
| `/`     | Division                        | `a / b`                        |
| `^`     | Power                           | `a^b`                          |
| `%`     | Modulus (Remainder)            | `a % b`                        |
| `//`    | Floor Division                  | `a // b`                       |
| `sqrt`  | Square Root                     | `sqrt(a)`                     |
| `abs`   | Absolute Value                  | `abs(a)`                      |
| `sin`   | Sine                            | `sin(a)`                      |
| `cos`   | Cosine                          | `cos(a)`                      |
| `tan`   | Tangent                         | `tan(a)`                      |
| `asin`  | Arc Sine                        | `asin(a)`                     |
| `acos`  | Arc Cosine                      | `acos(a)`                     |
| `atan`  | Arc Tangent                     | `atan(a)`                     |
| `exp`   | Exponential Function            | `exp(a)`                      |
| `log`   | Natural Logarithm               | `log(a)`                      |
| `log10` | Base-10 Logarithm              | `log10(a)`                    |
| `log2`  | Base-2 Logarithm               | `log2(a)`                     |
| `min`   | Minimum                         | `min(a, b)`                   |
| `max`   | Maximum                         | `max(a, b)`                   |
| `sum`   | Summation                       | `sum(a)`                      |
| `prod`  | Product                         | `prod(a)`                     |

# STRINGS

Topics: 
<ol>
    <li>How to get a string</li>
    <li>String Interpolation</li>
    <li>String Concatenation</li>
</ol>

## How to get a String

To get a string you can enclose character in '' or """ """

In [ ]:
s1 = " The string is a data type in programming wihch is text rather then a number. everything you type between the quotation marks is treated as a string 
even if it is not a text. like 3000, 67.4 etc"

In [ ]:
s2 = """ I am also a string """

There are a couple of differences between strings enclosed in a single and triple quotes. <br>
One difference is that, in latter case, you can use quotation marks within your string. <br>

For example:

In [ ]:
" Here we get an "error" because it's ambiguous where this string ends"

In [ ]:
""" Look, no "Errors" here, All nice and clean! """

Note that ' ' defines a character, but NOT a string.

In [ ]:
typeof( 'a' )

In [ ]:
'We will get an error here'

## String Interpolation

We can use the $ sign to insert variables into a string and to evaluate expression within the string. <br>
Below is an example that contains some highly sensitive personal information.

In [ ]:
name = "Ali"
num_fingers = 10 
num_of_toes = 10

println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_of_toes toes")

## String Concatenation

Concatenation means joining of strings or characters end to end.

Below are three ways we can concatenate strings!<br>

In [ ]:
"Einstein is the" * " most influencial theoretical physicist ever"

In [ ]:
S1 = "Einstein was "
S2 = "born in 1899"

S1 * S2

In [ ]:
"$S1$S2"

# DATA STRUCTURES

Once we start working with many pieces of data at once, it will be convenient for us to store data in structures like array or dictionaries <br>
(rather than just relying on variables). <br>

Types of data structures covered:
<ol>
    <li> Dictionaries</li>
    <li> Tuples</li>
    <li> Arrays</li>
</ol>

An overview, tuples and arrays are both ordered sequences of elements (so we can index into them). Dictionaries and arrays are both mutable. we'll explain this more below.

| Feature                    | **Dictionaries**                          | **Tuples**                               | **Arrays**                               |
|----------------------------|-------------------------------------------|------------------------------------------|------------------------------------------|
| **Definition**              | Collection of key-value pairs             | Ordered, immutable collection            | Ordered, mutable collection              |
| **Syntax**                  | `Dict("key1" => value1, "key2" => value2)`| `(value1, value2, value3)`               | `[value1, value2, value3]`               |
| **Mutability**              | Mutable (you can add, update, remove)     | Immutable (values cannot be changed)     | Mutable (values can be changed)          |
| **Indexing**                | By keys (e.g., `dict["key1"]`)            | By position (e.g., `tuple[1]`)           | By position (e.g., `array[1]`)           |
| **Ordered**                 | No (unordered collection)                 | Yes (order is preserved)                 | Yes (order is preserved)                 |
| **Duplicate Keys/Values**   | Keys must be unique, values can repeat    | Values can repeat                        | Values can repeat                        |
| **Use Case**                | Look up values by keys                    | Fixed collection of values that won't change | Collection of elements that may change over time |
| **Size**                    | Can grow/shrink by adding/removing pairs  | Fixed size, cannot grow/shrink           | Can grow/shrink by adding/removing elements |
| **Example**                 | `Dict("apple" => 1, "banana" => 2)`       | `(3.14, "pi", true)`                     | `[1, 2, 3, 4, 5]`                        |

## Dictionaries

If we have sets of data related to one another, we may choose to store that data in a dictionary. A good example is a contact list, where we associate names with phone numbers.

To create a dictionary we can use `Dict()` function.

In [ ]:
my_phone_book = Dict("Hasan" => "0333-4320932", 
                     "Shahzaib" => "0321-985732")

We can add another entry to this dictionary as follows:

In [ ]:
my_phone_book["Maisam"] = "0342-320739"

Let's check our phone book now.

In [ ]:
my_phone_book

The number have been added successfully.

In this example, each name and number is a "Key" and "Value" pair. We can grab Hasan's number (a value) using the associated key.

In [ ]:
my_phone_book["Hasan"]

We can also get Hasan's number - and simultaneously delete him from our contact<br>
list - by using `pop!` function.

In [ ]:
pop!(my_phone_book, "Hasan")

In [ ]:
my_phone_book

Hasan's number is no longer in the Dictionary.

Unlike tuples and arrays, dictionaries aren't ordered, so we can't index into them.

In [ ]:
my_phone_book[1]

### Exercise 1: Working with Dictionaries

Create a dictionary with student names as keys and their grades as values. Then:

1. Print all the student names and grades.
2. Add a new student and grade to the dictionary.
3. Update the grade of an existing student.
4. Find the grade of a particular student.
5. Remove a student from the dictionary.

In [ ]:
#Write your code here:

<details>
<summary>Answer</summary>

```julia
# Dictionary Exercise
student_grades = Dict("Ali" => 85, "Ayesha" => 90, "Sara" => 78)

# Print all students and grades
println(student_grades)

# Add a new student
student_grades["Hassan"] = 88

# Update a grade
student_grades["Ayesha"] = 95

# Find a particular student's grade
println(student_grades["Ali"])

# Remove a student
pop!(student_grades, "Sara")

```

## Tuples

We create a tuple by enclosing an ordered sequence of elements in `( )`.

In [ ]:
my_fav_scientists = ( "Einstein" , "Feynman", "Newton")

We can index into this tuple.

In [ ]:
my_fav_scientists[2]

But since tuples are immutable, we can't update them once they are formed.

In [ ]:
my_fav_scientists[1] = "Max Planck"

In Julia, tuples are typically used to group values together, and they can hold elements of different types.<br>
However, naming the elements within a tuple creates named tuple.

Key Differences from Regular Tuples:
<ol>
    <li>In regular tuples, elements are accessed by index (e.g., tuple[1]).</li>
    <li>In named tuples, elements are accessed by their names (e.g., tuple.name).</li>
    
</ol>

Example of named tuple is:

In [ ]:
# Named tuple with planets and their gravity (in m/s^2)
planet_gravity = (Mercury=3.7, Venus=8.87, Earth=9.81, Mars=3.71, Jupiter=24.79, Saturn=10.44, Uranus=8.69, Neptune=11.15)

# Accessing gravity values by planet name
println("Gravity on Earth: ", planet_gravity.Earth, " m/s^2")
println("Gravity on Mars: ", planet_gravity.Mars, " m/s^2")
println("Gravity on Jupiter: ", planet_gravity.Jupiter, " m/s^2")

### Exercise 2: Working with Tuples

Create a tuple that contains the dimensions of a rectangle (length and width). Then:

1. Calculate the area and perimeter of the rectangle.
2. Try changing the value of an element in the tuple and see what happens.

In [ ]:
#Write your code here

<details>
<summary>Answers</summary>

```julia
# Tuple Exercise
rectangle = (length=5, width=3)

# Calculate area and perimeter
area = rectangle.length * rectangle.width
perimeter = 2 * (rectangle.length + rectangle.width)

println("Area: $area")
println("Perimeter: $perimeter")

# Attempt to change a tuple element
# rectangle.length = 6  # This will cause an error because tuples are immutable.
```

## Arrays

Unlike Tuples, arrays are mutable. Unlike dictionaries, arrays contain ordered sequences of elements. <br>
We can create an array by encloding this sequence of elements in `[]`.

In [ ]:
myfriends = ["Ali" , "Shahzaib" , "Ijlal", "Sheharyar"]

Or to store a sequence of numbers

In [ ]:
fibonacci = [1, 1, 2, 3, 5, 8, 13, "ali"]

Once we have an array, we can grab individual pieces of data from inside that array by indexing into the array.<br>
For example, if we want the third friend listed in `myfriends`, we will write:

In [ ]:
myfriends[3]

We can use indexing to edit an existing element of an array.

In [ ]:
myfriends[3] = "Abbas"

In [ ]:
myfriends

We can also edit the array by using `push!` and `pop!` functions. <br>
`push!` add element to the end of an array. <br>
`pop!` removes the last element of an array. <br>

We can add another number to our fibonnaci sequence.

In [ ]:
push!(fibonacci, 21)

In [ ]:
pop!(fibonacci)

In [ ]:
fibonacci

So i've given you examples of only 1D arrays which are generally scalars, but arrays can have an arbitrary number of dimensions and can also store other arrays.

In [ ]:
matrix = [ [1, 2, 4], [5, 6, 8], [8, 1, 6]]

In Julia we can use many built in functions to operate on arrays. like `minimum`, `maximum`, `extreme`, `sum`, `mean()`,`sort`.

`minimum()` and `maximum()` functions returns the smallest and largest element in an array, respectively.

In [ ]:
# Array of numbers
numbers = [3, 1, 4, 1, 5, 9]

# Find minimum and maximum
min_value = minimum(numbers)
max_value = maximum(numbers)

println("Minimum: $min_value")  # Output: Minimum: 1
println("Maximum: $max_value")  # Output: Maximum: 9

`extreme()` function returns a tuple containing both the minimum and maximum values in an array.

In [ ]:
# Find both min and max values in one go
min_max = extrema(numbers)

println("Min: ", min_max[1])  # Output: Min: 1
println("Max: ", min_max[2])  # Output: Max: 9

`sum()`calculates the sum of all elements in the array. <br>
`mean()` calculates the average of the elements (you need to import `Statistics` for mean).

In [ ]:
using Statistics

# Sum and mean of the array
total_sum = sum(numbers)
average = mean(numbers)

println("Sum: $total_sum")  # Output: Sum: 23
println("Average: $average")  # Output: Average: 3.8333333333333335

`sort()` function sorts the array in ascending order by default and for sorting in descending order add another argument of `rev = true`.

In [ ]:
# Sort the array in ascending and descending order
sorted_asc = sort(numbers)
sorted_desc = sort(numbers, rev=true)

println("Sorted Ascending: ", sorted_asc)  # Output: [1, 1, 3, 4, 5, 9]
println("Sorted Descending: ", sorted_desc)  # Output: [9, 5, 4, 3, 1, 1]

### Exercise 3: Working with Arrays

Create an array of numbers and perform the following:

1. Print all the elements.
2. Find the maximum, minimum, and average value.
3. Add new elements to the array.
4. Sort the array in ascending and descending order.

In [ ]:
#Write your code here

<details>
<summary>Answer</summary>

```julia
# Array Exercise
numbers = [3, 1, 4, 1, 5, 9]

# Print elements
println(numbers)

# Find max, min, and average
println("Max: ", maximum(numbers))
println("Min: ", minimum(numbers))
println("Average: ", mean(numbers))

# Add a new element
push!(numbers, 2)

# Sort the array
sorted_asc = sort(numbers)
sorted_desc = sort(numbers, rev=true)

println("Sorted Ascending: ", sorted_asc)
println("Sorted Descending: ", sorted_desc)
```

# LOOPS

Topics: 
<ol>
    <li> `While` loops</li>
    <li> `for` loops</li>
</ol>

## While Loops

A `while` loop in Julia is a control flow statement that repeatedly executes a block of code as long as a specified condition remains true. The condition is checked before each iteration, and if it evaluates to false, the loop terminates.

Syntax for a `while` loop is: <br>

     `while` *Condition*
        *Loops body*
    *Ends*

For example, we could use `while` loop to count or to iterate over an array.

In [ ]:
n = 0                   # Initialize n to 0
while n < 10            # Continue the loop while n is less than 10
    n += 1             # Increment n by 1
    println(n)         # Print the current value of n
end

In [ ]:
myfriends = ["Hasan", "Alex", "Ali"]  # Step 1: Create an array of friends

i = 1                                   # Step 2: Initialize the index i to 1
while i <= length(myfriends)            # Step 3: Continue the loop while i is less than or equal to the length of the array
    friend = myfriends[i]               # Step 4: Access the friend at the current index i
    println("Hi $friend, it is great to see you")  # Step 5: Print a greeting for the current friend
    i += 1                               # Step 6: Increment the index i by 1
end                                      # End of the while loop

### Exercise 4:

Using while loop, write a code which print a countdown timer from 5 to 1, simulating a countdown before an event.

In [ ]:
#Your Code Here:

<details>

<summary>Answer</summary>


```python
count = 5
while count > 0
    println(count)
    count -= 1  # Decrease the count by 1
end
println("Go!")
```
</details>

## For Loops

A `for` loop in Julia is a control flow statement that iterates over a collection (such as a range, array, or set) or any iterable object, executing a block of code for each element in the collection.

Syntax for a `for` loop is: <br>

     `for` *var* in *loop iterable*
        *Loops body*
    *Ends*

We could use a for loop to generate the same results as either of the examples above:

In [ ]:
# Loop through numbers from 1 to 10
for n in 1:10
    # Print the current value of n
    println(n)
end

In [ ]:
myfriends = ["Ali" , "Asghar", "Abbas"]              #created an array

for friend in myfriends                              #initiate a for loop
    println("Hi $friend, it's great to see you!")    #print each element of array after $
end                                                  #End the loop

Note that we could replace `in` wih either `=`

In [ ]:
for n = 1:10 
    println(n)
end

Now let's use `for` loops to create some addition tables, where the value of every entry is the sum of it's row and column indices.

First, we intialize an array:

In [ ]:
m, n = 5, 5            # Set matrix dimensions
A = zeros(m, n)        # Create a 5x5 matrix filled with zeros
A                      # Display the matrix

In [ ]:
for i in 1:m          # Outer loop iterates from 1 to m (number of rows)
    for j in 1:n      # Inner loop iterates from 1 to n (number of columns)
        A[i,j] = i + j  # Assigns the sum of i and j to the element A[i,j]
    end
end
A  # Display the resulting matrix A

Here's some syntatic sugar for the same nested `for` loop.

In [ ]:
B = zeros(m,n)

In [ ]:
for i in 1:m, j in 1:n
    B[i,j] = i +j
end
B

The more "Julia" way to create this addition table would have been with an *array comprehension*

In [ ]:
C = [i + j for i in 1:m, j in 1:n]

In this next example, we embed an *array comprehension* in a `for` loop, generating addition tables of growing size

In [ ]:
for n in 1:10
    A = [i + j for i in 1:n, j in 1:n]  # Create an n×n matrix where A[i, j] = i + j
    display(A)                           # Display the matrix for each value of n
end

### Exercise 5:

Calculate the sum of all even numbers from 1 to 20 using a `for` loop.

In [ ]:
#Write Your Code Here:

<details>

<summary>Answer</summary>


```python
sum_even = 0
for i in 1:20
    if i % 2 == 0
        sum_even += i
    end
end
println("The sum of even numbers from 1 to 20 is: $sum_even")
```
</details>

# CONDITIONALS

In julia, the syntax 

    if *Condition 1* 
        *option 1*
    elseif *condition 2*
        *option 2*
    else *conditon 3*
        *option 3*
    end

allows us to conditionally evaluate one of our options.

For example, we might want to compare the size of two numbers.

Pick your favourite numbers below!

In [ ]:
x = 3 
y = 90

In [ ]:
if x > y 
    println("$x is larger than $y")      # If x is greater than y, print this message
elseif y > x 
    println("$y is larger than $x")      # If y is greater than x, print this message
else 
    println("$x and $y are equal to each other")  # If x and y are equal, print this
end

let's say we want to return the larger of the two numbers.

In [ ]:
if x > y 
    x         # If x is greater than y, return x
else 
    y         # Otherwise, return y
end

For this last block, we could instead use the ternary operator with the syntax <br>
`a ? b : c` <br>
Which equates to 

    if a 
        b
    else 
        c 
    end
i.e. if `a` is `True` then execute `b` or else `c`.

In [ ]:
(x > y) ? x : y

A fun related trick is short circuit evaluation with the syntax. <br>
`a && b`

In [ ]:
(x > y) && println("$x is larger than $y")

In [ ]:
(x < y) && println("$x is smaller than $y")

When we use `&&` , `b` executes only if `a` evaluates to be `true`. <br>
If `a` evaluates to `false`, the expression `a && b` returns `false`.

## Exercise 6:

Use a variable that represents a student's score and determine the grade based on a standard grading scale.

In [ ]:
#Write Your Code Here:

<details>

<summary>Answer</summary>


```python
score = 85

if score >= 90
    println("Grade: A")
elseif score >= 80
    println("Grade: B")
elseif score >= 70
    println("Grade: C")
elseif score >= 60
    println("Grade: D")
else
    println("Grade: F")
end
```
</details>

# FUNCTIONS

Topics:

<ol>
    <li> How to declare a function</li>
    <li> Broadcasting</li>
</ol>

## How to declare a Function

Julia gives us a few different ways to write a function. The first requires the `function` and `end` keywords.

In [ ]:
function sayhi(name)
    println("Hi $name, it's great to see you today!")
end

In [ ]:
function f(x)
    return x^2
end

We can call either of these functions like this:

In [ ]:
sayhi("Ali")

In [ ]:
f(2)

Alternatively, we could have declared either of these functions in a single line.

In [ ]:
sayhi1(name) = println("Hi $name, it's great to see you today!")

In [ ]:
f2(x) = x^2

Similarly, we can call these fucntions as before:

In [ ]:
f2(23)

In [ ]:
sayhi1("Minhal")

Finally, we could have declared these as "anonymous" functions.

In [ ]:
sayhi3 = name -> println("Hi, $name, it's great to see you!")

In [ ]:
f3 = x -> x^2

### Exercise 7: Calculating Potential Energy
#### Objective
Create a function in Julia to calculate the potential energy of an object based on its mass and height above the ground.

#### Formulas
The potential energy (PE) of an object can be calculated using the following formula:


PE = m × g × h

Where:
- \( PE \) = Potential Energy (in Joules)
- \( m \) = Mass of the object (in kilograms)
- \( g \) = Acceleration due to gravity (approximately 9.81 m/s² on Earth)
- \( h \) = Height of the object above the ground (in meters)

#### Instructions
1. Define a function named `potential_energy` that takes two parameters: `mass` (in kilograms) and `height` (in meters).
2. Inside the function, use the formula above to calculate the potential energy.
3. Use predefined values for mass (10 kg) and height (5 m) to call the function.
4. Print the calculated potential energy with an appropriate message.

In [ ]:
#Write your code here:

<details>

<summary>Answer</summary>


```julia
# Function to calculate potential energy
function potential_energy(mass, height)
    g = 9.81  # Acceleration due to gravity in m/s^2
    return mass * g * height  # Potential energy formula: PE = m * g * h
end

# Predefined values
mass = 10.0  # Mass in kilograms
height = 5.0  # Height in meters

# Calculate potential energy using the function
pe = potential_energy(mass, height)

# Display the result
println("The potential energy of an object with mass $mass kg at height $height m is $pe Joules.")
```
</details>

## Broadcasting a Function

By placing a `.` between any function name and it's argument list, <br>
we tell that function to broadcast over the elements of the input objects.

Let's look at the difference in the behaviour between `f()` and `f.()` <br>
First we'll define a matrix `A` that will make the difference easier to illustrate.

In [ ]:
A = [i + 3*j for j in 0:2, i in 1:3]

In [ ]:
f(x) = x^2
f(A)

As before we see that for a matrix , `A`

    `f(A) = A^2 = A * A`

`f.(A)` on the other hand will return an object that holds the square of `A[i,j]` at it's corresponding entry.

In [ ]:
f.(A)

# ADDING PACKAGES

The Julia ecosystem contains over 10,000 packages, amking packages a hugh part of julia ecosystem. <br>
To see all available packages, check out: <br>
https://juliapackages.com/<br>

For now, let's learn how to use a package:

In [ ]:
using Pkg
Pkg.add("Example")

Check the packages installed in your environment:

In [ ]:
Pkg.status()

# PLOTTING

## Basics
There are a few different ways to plot in Julia (including PyPlot). <br>
Here, we'll show you how to use `Plots.jl`.

In [ ]:
#using Pkg
#Pkg.add("Plots")
using Plots

In [ ]:
x = -3:0.1:3 #An array take values between -3 and 3 with increment of 0.1
y = f.(x)

In [ ]:
plot(x,y, label = "line")
scatter!(x,y, label = "points")

## Getting slightly fancier

The syntax for adding titles and labels to your plots is pretty straightforward.<br>
This time, in the name of scientific inquiry, let's examine the global temperature and the number of prates between the global temperature <br>
and the number of pirates between roughly 1860 and 2000.

In [ ]:
globaltemperatures = [14.4, 14.5, 14.8, 15.2, 15.5, 15.8]
numpirates = [45000, 20000, 15000, 5000, 400, 17]

#First plot the data 
plot(numpirates, globaltemperatures, legend = false)
scatter!(numpirates, globaltemperatures, legend = false)

#This reverses x axis we can see how the temperature changes as:
xflip!()

#Add titles and labels
xlabel!("Number of Pirates [approximate]")
ylabel!("Global Temperature (C)")
title!("Influence of pirate population on global warming")